In [1]:
tup = (21,3,14,35)
tup

(21, 3, 14, 35)

In [2]:
tup[1]

3

In [3]:
tup[0]=33

TypeError: 'tuple' object does not support item assignment

In [5]:
#sets
s = {22,15,14,21,5}
s

{5, 14, 15, 21, 22}

In [6]:
s = {25,14,98,10,75,98}
s

{10, 14, 25, 75, 98}

In [7]:
s[2]

TypeError: 'set' object is not subscriptable